@import '../common';

.navbar {
  height: 6.5rem;
  background-color: $primaryColor;
  padding: 1rem;
  color: $accentColor; 
  .nav-links,


  .nav-links span {
    color: $lightTextColor;
    font-size: 1.6rem;
  }
}
