@import url(https://fonts.googleapis.com/css?family=Roboto);

$primaryColor:   #00B57D;
$accentColor:    #AADDCF;
$bgColor:        #EBEBEB;
$darkBgColor:    #292b2c;
$lightBgColor:   #37474f;
$lightTextColor: #f5f5f5;
$darkTextColor:  #212121;

body {
   font: 100% 'Roboto', sans-serif;
   padding-top: 70px; 
   background-color: $bgColor;
}

p, h1, h2, h3, h4, h5, h6 {
    color: $darkTextColor; 
}

.btn {
    border-radius: 0px;
    border-style: transparent;
    text-transform: uppercase;
}

.btn-primary {
    background-color: $primaryColor;
    border-color: $primaryColor; 
}


